<article class="product">
  <header>
   
    <%if product.sould_out?%>
     <aside class="price" style="margin-right: 68.5%; border-bottom-right-radius: 20px;
      border-bottom-left-radius: 0%;
       border-top-right-radius: 0%;
        border-top-left-radius: 6.5%">
    <span class="label label-danger">SOULD OUT!</span>
     </aside>
    <%end%>
   
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
